.cart {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  min-height: calc(100vh - 5rem);
}

.shoppingCart {
  background-color: var(--color-light--2);
  color: var(--color-dark--1);
  /* height: 200px; */
}

.cartTotal {
  padding: 1rem;
  background-color: var(--color-light--2);
  color: var(--color-dark--1);
  border-top: 1px solid var(--color-light--1);
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  justify-content: flex-end;
  align-items: end;
  font-weight: 600;
}

.total {
  text-transform: uppercase;
}
