.cart {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  min-height: calc(100vh - 5rem);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.shoppingCart {
  background-color: var(--color-light--2);
  color: var(--color-dark--1);
  /* height: 200px; */
}

.container {
  max-width: 80%;
}

.cartTotal {
  padding: 1rem;
  background-color: var(--color-light--2);
  color: var(--color-dark--1);
  border-top: 1px solid var(--color-light--1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-end;
  align-items: end;
  font-weight: 600;
  padding-top: 3rem;
}

.total {
  text-transform: uppercase;
}
