.logo {
  height: 5.2rem;
}

.brandName {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: 100;
}
