.product {
  padding: 1rem 2rem;
  background-color: var(--color-light--2);
  color: var(--color-dark--1);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.imageContainer {
  background-color: #fff;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.productImage {
  width: 70%;
}
